body{
    
}
.layout {
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.main-content{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.password-output-field{
    width: 300px;
    height: 40px;
    border-width: 3px;
    border-color: black;
    font-size: 15pt;
    resize: none;
    white-space: normal;
    text-align-last: center;
    margin: 20px;
}
.generate-btn{
    background-color: white;
    color: black;
    border: 2px solid;
    width: 150px;
    height: 50px;
    font-weight: bold;
    transition-duration: 0.4s;
    border-color: black;
}



